<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" [ngStyle]="{'display': show ? 'block' : 'none', 'opacity': 1}">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h2 class="modal-title" style="color: black" id="title1" *ngIf="!modalMessage.showCloseUpAndDown">{{title}}</h2>
        <div class="container" *ngIf="modalMessage.showCloseUpAndDown">
          <div class="row">
            <div class="col-md-10"><h2 class="modal-title" style="color: black" id="title2">{{title}}</h2></div>
            <div class="col-md-2"><button type="button" class="btn btn-secondary" data-dismiss="modal" (click)=openModal(false)>Închide</button></div>
          </div>
        </div>
      </div>
      <div class="modal-body" *ngIf="modalMessage.isFetching">
        <app-waiting-for-data></app-waiting-for-data>
      </div>
      <div class="modal-body" *ngIf="!modalMessage.isFetching">
        <span style="color: black" [innerHTML]="description"></span>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)=openModal(false)>Închide</button>
      </div>
    </div>
  </div>
</div>
