.bg_adn {
  background-image: url('/assets/images/bg_adn.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  margin: 0;
}
.bg_lock {
  background-image: url('/assets/images/bg_lock.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  height: auto;
  margin: 0;
}
.bgerrimage {
  background-image: url('/assets/images/err.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  /*min-height: 50vh;*/
  height: auto;
  margin: 0;
}

input.ng-invalid.ng-touched {
  border: #F34C51 1px solid;
}

/*input.ng-valid {
  border: #8ce78c 2px solid;
  !*background: url("/assets/images/check.svg");
  background-size: 20px;
  background-repeat: no-repeat;
  background-position: 0px 5px;
  label {
    opacity: 0;
  }*!
}*/

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
