<div class="row d-flex justify-content-center align-items-center h-100" *ngIf="isFetching">
  <app-waiting-for-data></app-waiting-for-data>
</div>

<div class="container" *ngIf="!isFetching">
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <h3>{{"Pasul 5: Faceți click pe ora dorită pentru a înregistra programarea" | uppercase}}</h3>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="input-group input-group-lg">
      <input
        type="text"
        class="form-control custom-input"
        aria-label="Small"
        aria-describedby="inputGroup-sizing-sm"
        placeholder={{placehoderSearch}}
        [(ngModel)]="searchText"
        (focus)="clearSearchText()"
        (input)="performSearch()"/>
    </div>
    <br>
  </div>

    <div *ngFor="let p of physiciansSearched">
    <!--<div class="col-md-12 text-center" *ngFor="let p of physiciansSearched">-->
      <div class="card" style="border-radius: 1rem;">
        <div class="row">
          <div class="col-md-1 text-center mt-2">
            <app-image-display [base64Image]="p.imagineAngajat!" [width]="110" [height]="110" *ngIf="p.imagineAngajat" style="margin: 10px;"/>
            <img src="/assets/images/shedr.jpg" width="110" height="110" *ngIf="!p.imagineAngajat && p.idSex===2"/>
            <img src="/assets/images/hedr.jpg" width="110" height="110" *ngIf="!p.imagineAngajat && p.idSex===1"/>
          </div>
          <div class="col-md-11 text-center align-items-center justify-content-center">
            {{p.name+" "+p.surname | uppercase}}
          </div>
        </div>
        <div class="row">
          <app-physician-appointments [appointmentRequest]="getAppointmentRequest(p)"/>
        </div>
      </div>
      <p></p>
    </div>

  <form [formGroup]="form">
    <input    type="hidden"    id="physician"    formControlName="physician">
  </form>
</div>
