.fixed-button {
  width: 400px;
  height: 650px;
  margin: 0px 5px 5px 5px;
}

.fixed-button:hover {
  background-color: #FFAAAA !important;
  border-color: #FFAAAA !important;
}

input {
  text-align: center;
}

.input::placeholder {
  color: grey; /* Set the placeholder text color */
}
.custom-input {
  color: black; /* Set the default text color */
}

.custom-input::placeholder {
  color: grey; /* Set the placeholder text color */
}

.selectedBG, .selectedBG:hover, .selectedBG:active, .selectedBG:visited {
  background-color: #00AA00 !important;
}

.btn-primary {
  background-color: #ABDFF1  ;
  color: #0C4A60 ;
}
