<div class="container">
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <h3>{{"Pasul 5: Selectați medicul si ora programării" | uppercase}}</h3>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="input-group input-group-lg">
      <input
        type="text"
        class="form-control custom-input"
        aria-label="Small"
        aria-describedby="inputGroup-sizing-sm"
        placeholder={{placehoderSearch}}
        [(ngModel)]="searchText"
        (focus)="clearSearchText()"
        (input)="performSearch()">
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-md-3 text-center" *ngFor="let p of physiciansSearched">
      <button class="btn btn-primary fixed-button" id="physician{{p.id}}" (click)="setPhysician(p)">
        <app-image-display [base64Image]="p.imagineAngajat!" [width]="110" [height]="110" *ngIf="p.imagineAngajat">
        </app-image-display>
        {{p.name+" "+p.surname | uppercase}}
      </button>
    </div>
  </div>
  <form [formGroup]="form">
    <input    type="hidden"    id="physician"    formControlName="physician">
  </form>
  <div class="row">
    <div class="col-md-12 d-flex justify-content-center align-items-center">
      <button class="btn btn-dark btn-lg btn-block" type="submit" (click) = submit() >Salvează programarea</button>
    </div>
  </div>
</div>
