<div class="row flex-grow-1 d-flex">
  <div class="col-md-3 text-center">
    <app-image-display [base64Image]="bamCodImagineDreapta" [width]="160" [height]="107"/>
  </div>
  <div class="col-md-6 text-center" *ngIf="contact.id==0">
    <app-waiting-for-data></app-waiting-for-data>
  </div>
  <div class="col-md-6 text-center" *ngIf="contact.id!==0">
    <div class="row">
      <div class="col-md-12 text-center">{{contact!.name}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">{{contact!.address}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">CUI: {{contact!.fiscalCode}};Telefon: {{contact!.phone}};Fax: {{contact!.fax}}</div>
    </div>
    <div class="row">
      <div class="col-md-12 text-center">Email: {{contact!.mail}};Site: {{contact!.site}}</div>
    </div>
  </div>
  <div class="col-md-3 text-center">
    <app-image-display [base64Image]="imagineInCursDeAcreditare" [width]="160" [height]="107"/>
  </div>
</div>
<hr>
<div class="row" *ngIf="scrisoareMedicala.id==0">
  <app-waiting-for-data></app-waiting-for-data>
</div>
<div class="row" *ngIf="scrisoareMedicala.id!==0">
  <div class="col-md-6">
    <table>
      <tr>
        <td class="alignRight">
          Medic
        </td>
        <td class="smFields">
          {{scrisoareMedicala.numeMedic}}
        </td>
      </tr>
      <tr>
        <td class="alignRight">
          Contract/convenție
        </td>
        <td class="smFields">
          {{scrisoareMedicala.contract}}
        </td>
      </tr>
      <tr>
        <td class="alignRight">
          CJAS
        </td>
        <td class="smFields">
          {{scrisoareMedicala.cjas}}
        </td>
      </tr>
    </table>
  </div>
  <p></p>
  <div class="col-md-12">
    <table>
      <tr>
        <td>
          <p class="pSpace">Stimate(ă) coleg(ă),  vă informăm  că <b>{{scrisoareMedicala.person!.name | uppercase }} {{scrisoareMedicala.person!.surname | uppercase }}</b> născut(ă) la data de  <b>{{scrisoareMedicala.person!.birthDate}}</b>,
            CNP/cod unic de asigurare  <b>{{scrisoareMedicala.person!.cnp }}</b>, a fost consultat în serviciul nostru la data de  <b>{{scrisoareMedicala.dataConsultatie | date: 'YYYY-MM-dd HH:MM'}}</b> nr. F. 0.
            nr. din Registrul de consultaţii <b>{{scrisoareMedicala.nrConsultatie }}</b>.</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Motivele prezentării:</b> {{scrisoareMedicala.motivelePrezentarii}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Diagnosticul şi codul de diagnostic:</b> {{scrisoareMedicala.diagnosticSiCodificare}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Anamneza:</b> {{scrisoareMedicala.anamneza}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph">
          <b>-factori  de risc</b> {{scrisoareMedicala.factoriDeRisc}}
          </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Examen clinic:</b> </p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph"><b>-general</b> {{scrisoareMedicala.examenClinicGeneral}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph"><b>-local</b> {{scrisoareMedicala.examenClinicLocal}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Altele</b></p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph"><b>EKG</b> {{scrisoareMedicala.exameneParacliniceEkg}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph"><b>Ecografie</b> {{scrisoareMedicala.exameneParacliniceEco}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph"><b>Radiografii</b> {{scrisoareMedicala.exameneParacliniceRx}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSubparagraph"><b>Alte analize paraclinice</b> {{scrisoareMedicala.alte}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Tratament efectuat</b> {{scrisoareMedicala.tratamentEfectuat}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Alte informaţii referitoare la starea de sănătate a asiguratului:</b> {{scrisoareMedicala.alteInformatii}}</p>
        </td>
      </tr>
      <tr>
        <td>
          <p class="pSpace"><b>Tratament recomandat:</b> {{scrisoareMedicala.tratamentRecomandat}}</p>
        </td>
      </tr>

      <tr>
        <td>
            <p class="pSpace">
              <b>Nota:</b> Se va specifica durata pentru care se poate prescrie de medicul din ambulatoriu, inclusiv medicul de familie, fiecare dintre medicamentele recomandate.</p>
            <p>Nerespectarea obligației medicului de specialitate din ambulatoriul clinic de specialitate sau din spital de a iniția
            tratamentul prin prescrierea primei reţete pentru medicamente cu sau fără contribuţie personală, astfel cum este
            prevăzut în protocoalele terapeutice, precum și de a elibera prescripția medicală / bilete de trimitere / concediu
            medical / recomandări pentru îngrijiri la domiciliu / prescripții pentru dispozitive medicale în fiecare caz pentru
            care este necesar, se sancționează potrivit contractului încheiat de furnizor cu casa de asigurări de sănătate.</p>
            <p>Valabilitatea scrisorii medicale începe de la data eliberării acesteia.</p>
            <p>Valabilitatea este în concordanță cu protocolul terapeutic.</p>
            <p>În cazul în care medicul de specialitate nu consemnează o valabilitate pentru conduita terapeutică recomandată,
            valabilitatea scrisorii medicale încetează în momentul în care medicul de familie recomanda pacientului reevaluarea
            stării de sănătate</p>
        </td>
      </tr>
    </table>
  </div>
  </div>
