.fixed-button {
  width: 150px;
  height: 60px;
  margin: 0px 5px 5px 5px;
}

.fixed-button:hover {
  background-color: #EF6C33  !important;
  border-color: #EF6C33  !important;
}

input {
  text-align: center;
}

.input::placeholder {
  color: grey; /* Set the placeholder text color */
}
.custom-input {
  color: black; /* Set the default text color */
}

.custom-input::placeholder {
  color: grey; /* Set the placeholder text color */
}
.selectedBG, .selectedBG:hover, .selectedBG:active, .selectedBG:visited {
  background-color: #EF6C33 !important;
  color: #000000 ;
}
.btn-primary {
  background-color: #ABDFF1  ;
  color: #0C4A60 ;
}
