<div class="row d-flex justify-content-center align-items-center h-100" *ngIf="isFetching">
  <app-waiting-for-data></app-waiting-for-data>
</div>
<div class="container" *ngIf="!isFetching">
  <div class="row">
    <div class="col-md-12 text-center">
      <br>
      <h3>{{"Pasul 2: Selectați specialitatea" | uppercase}}</h3>
    </div>
  </div>
  <div class="col-md-12 text-center">
    <div class="input-group input-group-lg">
      <input
        type="text"
        class="form-control custom-input"
        aria-label="Small"
        aria-describedby="inputGroup-sizing-sm"
        placeholder={{placehoderSearch}}
        [(ngModel)]="searchText"
        (focus)="clearSearchText()"
        (input)="performSearch()">
    </div>
    <br>
  </div>
  <div class="row">
    <div class="col-md-6 text-center" *ngFor="let s of specialitiesSearched">
        <button class="btn btn-primary fixed-button" id="speciality{{s.id}}" (click)="setCurrentSpeciality(s)">{{s.code | uppercase}}</button>
    </div>
  </div>
  <form [formGroup]="form">
    <input    type="hidden"    id="speciality"    formControlName="speciality">
  </form>

</div>
