<app-modal-message></app-modal-message>
<div class="bg_lock">
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="/assets/images/login.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center" *ngIf="commonService.isConnected()">
                <div class="card-body p-4 p-lg-5 text-black">
                  <div class="pt-1 mb-4">
                    Conectare cu succes pentru clientul {{account.name}} {{account.surname}}
                  </div>
                  <div class="pt-1 mb-4">
                    <button class="btn btn-dark btn-lg btn-block" (click)="commonService.disconnect()">Deconectare</button>
                  </div>
                </div>
              </div>

              <div class="col-md-6 col-lg-7 d-flex align-items-center" *ngIf="!commonService.isConnected()">
                <div class="card-body p-4 p-lg-5 text-black">
                  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                    <div class="d-flex align-items-center mb-3 pb-1">
                      <i class="fas fa-cubes fa-2x me-3" style="color: #ff6219;"></i>
                      <span class="h1 fw-bold mb-0"></span>
                    </div>

                    <h5 class="fw-normal mb-3 pb-1" style="letter-spacing: 1px;">Introduceți emailul si parola</h5>

                    <div class="form-outline mb-3">
                      <input type="email" id="email" class="form-control form-control-sg" [ngClass]="!loginForm.get('email')!.valid ? '' : 'is-valid'" formControlName="email"/>
                      <label class="form-label" for="email">Adresa email*<br>
                        <label *ngIf="!loginForm.get('email')!.valid && loginForm.get('email')!.touched" class="text-danger">Introduceți căsuța poștală</label>
                      </label>
                    </div>

                    <div class="form-outline mb-3">
                      <input type="password" id="password" class="form-control form-control-sg" [ngClass]="!loginForm.get('password')!.valid ? '' : 'is-valid'" formControlName="password"/>
                      <label class="form-label" for="password">Parola*<br>
                        <span *ngIf="!loginForm.get('password')!.valid && loginForm.get('password')!.touched" class="text-danger">
                          <span *ngIf="
                            loginForm.get('password')!.hasOwnProperty('errors') &&
                            loginForm.get('password')!.errors!==null &&
                            loginForm.get('password')!.errors!.hasOwnProperty('invalidPassword') &&
                            loginForm.get('password')!.errors!['invalidPassword']" class="text-danger">{{loginForm.get('password')!.errors!['invalidPassword']}}</span>
                        </span>
                      </label>
                    </div>

                    <div class="pt-1 mb-4">
                      <button class="btn btn-dark btn-lg btn-block" type="submit">Conectare</button>
                    </div>

                    <a class="small text-muted" href="#!">Ați uitat parola?</a>
                    <p class="mb-5 pb-lg-2" style="color: #393f81;">Nu aveți un cont?  <a href="#!" routerLink="/signup">Crează cont nou</a></p>
                    <a href="#!" class="small text-muted">Termenii de utilizare</a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                    <a href="#!" class="small text-muted">Politica de confidențialitate</a>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
