<div class="bg_stetoscope" *ngIf="accountService.isConnected()" >
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-4 col-lg-5 d-none d-md-block align-items-center">
                <table class="table" style="margin-top: 50px">
                  <thead>
                  <tr>
                    <th scope="col" colspan="3" style="text-align: center">Progress</th>
                  </tr>
                  </thead>
                  <tbody>
                  <tr>
                    <td><b>Data start</b>
                    </td>
                    <td>
                      <img src="assets/images/arrow.jpg" height="15"/>&nbsp;
                      <ng-container *ngIf="appointmentForm.get('appointmentSearchDateStart')!.valid">
                        {{appointmentForm.get('appointmentSearchDateStart')!.value | date: 'yyyy/MM/dd'}}
                      </ng-container>
                      <ng-container *ngIf="!appointmentForm.get('appointmentSearchDateStart')!.valid">

                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Data stop</b>
                    </td>
                    <td>
                      <img src="assets/images/arrow.jpg" height="15"/>&nbsp;
                      <ng-container *ngIf="appointmentForm.get('appointmentSearchDateStop')!.valid">
                        {{appointmentForm.get('appointmentSearchDateStop')!.value | date: 'yyyy/MM/dd'}}
                      </ng-container>
                      <ng-container *ngIf="!appointmentForm.get('appointmentSearchDateStop')!.valid">
                        &nbsp
                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Specialitate</b>
                    </td>
                    <td>
                      <img src="assets/images/arrow.jpg" height="15"/>&nbsp;
                      <ng-container *ngIf="appointmentForm.get('speciality')!.valid">
                        {{specialityJSONFromText(appointmentForm.get('speciality')!.value!).name}}
                      </ng-container>
                      <ng-container *ngIf="!appointmentForm.get('speciality')!.valid">

                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Servicii</b>
                    </td>
                    <td>

                      <ng-container *ngIf="appointmentForm.get('selectedServices')!.valid">
                        <div *ngFor="let serviceCtrl of selectedServices.controls; let i = index">
                          <label>
                            <img src="assets/images/arrow.jpg" height="15"/>&nbsp;  {{serviceJSONFromText(i).name}}
                          </label>
                        </div>
                      </ng-container>
                      <ng-container *ngIf="!appointmentForm.get('selectedServices')!.valid">

                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Medicul</b>
                    </td>
                    <td>
                      <img src="assets/images/arrow.jpg" height="15"/>&nbsp;
                      <ng-container *ngIf="appointmentForm.get('physician')!.valid">
                        {{physicianToJSON.name}} {{physicianToJSON.surname}}
                      </ng-container>
                      <ng-container *ngIf="!appointmentForm.get('physician')!.valid">

                      </ng-container>
                    </td>
                  </tr>
                  <tr>
                    <td><b>Ora</b>
                    </td>
                    <td>
                      <img src="assets/images/arrow.jpg" height="15"/>&nbsp;
                      <ng-container *ngIf="appointmentForm.get('appointmentHour')!.valid">
                        {{appointmentForm.get('appointmentHour')!.value | date: 'yyyy/MM/dd HH:mm'}}
                      </ng-container>
                      <ng-container *ngIf="!appointmentForm.get('appointmentHour')!.valid">

                      </ng-container>
                    </td>
                  </tr>
                </table>

              </div>
              <div class="col-md-8 col-lg-7 d-flex align-items-start">
                <div class="card-body p-4 p-lg-5 text-black align-items-start" id="appointmentData">
                  <ng-container [formGroup]="appointmentForm">
                    <app-date-selector
                      (stepTwoRequiredByUser)="goToStep(2)"
                      *ngIf="currentStep===1">
                    </app-date-selector>

                    <app-specialities-selector
                      (stepThreeRequiredByUser)="goToStep(3)"
                      *ngIf="currentStep===2">
                    </app-specialities-selector>

                    <app-service-selector
                      (stepFourRequiredByUser)="goToStep(4)"
                      *ngIf="currentStep===3">
                    </app-service-selector>

                    <app-physicians-selector
                      (stepFiveRequiredByUser)="goToStep(5)"
                      *ngIf="currentStep===4">
                    </app-physicians-selector>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>

<div class="text-center" *ngIf="!accountService.isConnected()">
  <br><br><br>
  <h2>Trebuie să vă conectați pentru a face o programare</h2>
</div>
