* {
  font-family: Tahoma !important;
}

.navbar-custom{
  background-color: #EF6C33 ;
}

.breadCrumb {
  background-color: #FFFFFF  ;
  padding: 1px 15px !important;
}

.dropdown-menu {
  background-color: #EF6C33 ;
  padding: 10px;
  border:1px solid #0C4A60 ;
}
.navbar-custom .navbar-text {
  color: #FFFFFF ;
}

.navbar  {
  border-bottom:1px solid #EF6C33 ;
}

a.navbar-brand:link, a.nav-link:link {
  text-decoration: none;
}

a.navbar-brand:visited, a.nav-link:visited {
  text-decoration: none;
  color: #FFFFFF ;
}

a.navbar-brand, a.nav-link {
  color:#FFFFFF ;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}

a.navbar-brand:hover, a.nav-link:hover {
  color: #FFFFFF ;
  text-shadow: 1px 1px 20px #FFFFFF, 0 0 1em #FFFFFF, 0 0 0.2em #FFFFFF;
  -moz-transition: all 0.2s ease-in;
  -o-transition: all 0.2s ease-in;
  -webkit-transition: all 0.2s ease-in;
  transition: all 0.2s ease-in;
}
