<app-modal-message></app-modal-message>
<div class="bg_lock">
  <section>
    <div class="container py-5 h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col col-xl-10">
          <div class="card" style="border-radius: 1rem;">
            <div class="row g-0">
              <div class="col-md-6 col-lg-5 d-none d-md-block">
                <img src="/assets/images/login.jpg" alt="login form" class="img-fluid" style="border-radius: 1rem 0 0 1rem;" />
              </div>
              <div class="col-md-6 col-lg-7 d-flex align-items-center">
                <div class="card-body p-4 p-lg-5 text-black" *ngIf="!success">
                  <form [formGroup]="resetPassword" (ngSubmit)="onSubmit()">
                    <div class="form-outline mb-3">
                      <input type="password" id="password" class="form-control form-control-sg" [ngClass]="!resetPassword.get('password')!.valid ? '' : 'is-valid'" formControlName="password"/>
                      <label class="form-label" for="password">Parola*<br>
                        <span *ngIf="!resetPassword.get('password')!.valid && resetPassword.get('password')!.touched" class="text-danger">
                          <span *ngIf="
                            resetPassword.get('password')!.hasOwnProperty('errors') &&
                            resetPassword.get('password')!.errors!==null &&
                            resetPassword.get('password')!.errors!.hasOwnProperty('invalidPassword') &&
                            resetPassword.get('password')!.errors!['invalidPassword']" class="text-danger">{{resetPassword.get('password')!.errors!['invalidPassword']}}</span>
                        </span>
                      </label>
                    </div>

                    <div class="form-outline mb-3">
                      <input type="password" id="passwordCheck" class="form-control form-control-sg" [ngClass]="!resetPassword.get('passwordCheck')!.valid ? '' : 'is-valid'" formControlName="passwordCheck"/>
                      <label class="form-label" for="passwordCheck">Confirmare parolă*<br>
                        <span *ngIf="!resetPassword.get('passwordCheck')!.valid && resetPassword.get('passwordCheck')!.touched" class="text-danger">
                          <span *ngIf="
                            resetPassword.get('passwordCheck')!.hasOwnProperty('errors') &&
                            resetPassword.get('passwordCheck')!.errors!==null &&
                            resetPassword.get('passwordCheck')!.errors!.hasOwnProperty('invalidPassword') &&
                            resetPassword.get('passwordCheck')!.errors!['invalidPassword']" class="text-danger"><br>{{resetPassword.get('passwordCheck')!.errors!['invalidPassword']}}</span>
                        </span>
                        <span *ngIf="
                            resetPassword!.hasOwnProperty('errors')
                            && resetPassword!.errors!==null
                            && resetPassword!.errors!.hasOwnProperty('passwordsDoNotMatch')"
                              class="text-danger"><br>Parolele nu se potrivesc</span>
                      </label>
                    </div>
                    <div class="pt-1 mb-4">
                      <app-submit-button [buttonText]="'Resetare parola'" [CSSClasses]="'btn btn-dark btn-lg btn-block'" [loading]="loading"></app-submit-button>
                    </div>
                  </form>
                </div>
                <div class="card-body p-4 p-lg-5 text-black" *ngIf="success">
                  <div class="pt-1 mb-4">
                    Parola resetata cu success.
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</div>
